body {
  margin: 30px;
}

.flip-card {
  width: 250px;
  aspect-ratio: 1;
  background-image: url(./images/card-picture.jpg);
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.flip-card-flipped {
  background-image: url(./images/card-backside.jpg);

  /* transform: rotateY(180deg); */
}

.flip {
  transform: rotateY(180deg);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
