body {
  margin: 30px 50px;
  text-align: center;
}

.h1 {
  margin: 0;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.counter-p {
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px;
  width: 150px;
}

span {
  color: red;
  font-weight: 800;
}

.cards-container {
  margin-block: 15px;
  border: 2px solid black;
  border-radius: 20px;
  display: inline-grid;
  grid-template-columns: repeat(4, 150px);
  gap: 15px;
  padding: 15px;
}

.flip-card {
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 20px;
  border: 2px solid black;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/card-backside.jpg);
}

.emoji {
  width: 100%;
  font-size: 6rem;
  text-align: center;
  display: none;
}

.emoji-flipped {
  display: block;
}

.flip-card-flipped {
  background-image: none;
}

.flip {
  transform: rotateY(180deg);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
